header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
}

.navbar-nav .nav-link.active{
    color:#FFF;
}

.nav-link{
    text-align: center;
}

section{
    height: 100vh;
    background-color: bisque;
    padding-top: 72px;
}

#inicio{
    padding-top: 0px;
    margin: 0;
    padding: 0;
}


.carousel-inner .carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}